<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <title>Document</title>
</head>
<body>

{{!-- diseño e iteracion de productos --}}
<div class="container text-center mt-2">
    <div class="row">
{{#each productos}}
        <div id="{{this}}" class="col-4" type="button">
            <h3>{{this}}</h3>
            <img src="{{this}}.png" alt="{{this}}">
        </div>    
{{/each}}
    </div>
</div>

{{!-- Botón "ver carrito de compras" --}}
<div class="container text-center mt-2">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver carrito</button>
</div>

{{!-- Modal de carrito de productos --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carrito de productos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
        {{#each productos}}
        <div class="col-4 "id="{{this}}1"></div>
        {{/each}}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/bootstrap/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{{!-- Script para el carro de compras --}}
<script>                 
    {{#each productos}}
    let htmlAppend{{this}} = `<img src="{{this}}.png" alt="{{this}}" width="80px" height="80px">`

    let btn{{this}} = document.getElementById("{{this}}")
    btn{{this}}.addEventListener("click", htmlInsert{{this}})

    function htmlInsert{{this}}() {
        document.getElementById("{{this}}1").innerHTML = htmlAppend{{this}}
    }
    {{/each}}
</script>
</body>
</html>

